/**
 * Typography
 */
html {
  font-size: 24px;
  line-height: 28px;
}
h1 {
  font-size: 3em;
  line-height: 1.3em;
}
h2 {
  font-size: 2em;
  line-height: 1.3em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.3em;
}
p {
  max-width: 35rem;
}
p.lead-font {
  font-size: 1.4em;
  line-height: 1.4em;
  max-width: 50rem;
}


/**
 * Branding
 */
.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.banner {
  background-color: #ccc;
  padding: 40px;
  margin-bottom: 40px;
}

/**
 * Links
 */
a:focus {
  outline: thin solid coral;
}

.button {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  background-color: #444;
  color: white;
}
.button:hover {
  text-decoration: underline;
}
.button:focus {
  outline-width: medium;
}

/**
 * Layout
 */
html {
  background-color: #DDD;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1400px;
  background-color: white;
  margin: 0 auto;
  padding: 40px;
  height: 100%;
}
section {
  clear: both;
  float: none;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
  display: block;
}
.clear-fix {
  clear: both;
  float: none;
}

/**
 * Navigation
 */
.nav-menu {
  padding: 0;
  margin: 40px 0 60px 0;
  text-align: center;
}
.nav-menu li {
  display: inline;
}
.nav-menu li a {
  padding: 20px;
  font-size: 1.5em;
  line-height: 2.3em;
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
.nav-menu li a:hover {
  text-decoration: underline;
}

/**
 * Accessibility
 */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
.visually-hidden.focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
}

/**
 * Images
 */
img {
  max-width: 100%;
  display: block;
}
.image-right {
  float: right;
  max-width: 50%;
  margin-left: 20px;
}
.image-left {
  float: left;
  max-width: 50%;
  margin-right: 20px;
}

/**
 * Search
 */
.search-form input, .search-form select  {
  font-size: 1em;
}
.search-form div {
  margin-bottom: 20px;
}
#facets {
  float: left;
  width: 250px;
}
#results {
  margin-left: 250px;
}

/**
 * Desktop styles.
 */
@media (min-width: 800px) {
  .half {
    width: 45%;
    float: left;
    margin-right: 5%;
  }
  .two-column {
    column-count: 2;
    column-gap: 3em;
  }
}
